/**
 * var
 * @author  Yee
 * @date    2023/4/17
 * @desc
 */
:root {
  --primary-100:#5CBF9B;
  --primary-200:#3ca17f;
  --primary-300:#006042;
  --accent-100:#F2B632;
  --accent-200:#865a00;
  --text-100:#333333;
  --text-200:#5c5c5c;
  --bg-100:#E6F4EA;
  --bg-200:#dceae0;
  --bg-300:#b4c1b8;
}
